.container {
    margin: 0 20px;
}

@media screen and (min-width: 1200px) {
    /* Styles for large screens */
    .container {
        min-height: calc(100vh - 250px);
    }

    .faround {
        margin: 0 208px;
    }
}
