.container {
margin: 0 20px;
}

.flexAround {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 142.6%;
    align-items: flex-end;
    text-align: right;
    color: #FF6060;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
    color: #FF6060;
    margin: 15px 0 0 0;
}

.location {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
    margin: 5px 0 0 0;
    color: #FF6060;
}

.tags {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.star {
    height: 16px;
    width: 16px;
}

.img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}



@media screen and (min-width: 1200px) {
    /* Styles for large screens */
    .container {
        margin: 0 70px;
    }
    .title {
        font-size: 36px;
    }

    .location {
        font-size: 18px;
    }

    .star {
        height: 30px;
        width: 30px;
        list-style-type: none;
        margin: 5px 5px 0 5px;
    }

    .tags {
        margin: 10px 0 0 0;
    }

    .name {
        font-size: 18px;
    }

    .fend {
        display: flex;
        justify-content: space-between;
        align-items: end;
    }

    .img {
        width: 64px;
        height: 64px;
    }

    .flexReverse {
        flex-direction: column-reverse;
    }
}
