.container {
    margin: 20px 0;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FF6060;
    border-radius: 5px;
    padding: 10px;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 142.6%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.textContainer {
    background: #F6F6F6;
    border-radius: 5px;
    padding: 10px;
}

.text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 142.6%;
    color: #FF6060;
}

.chevron {
    color: white;
    width: 16px;
    height: 10px;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1200px) {
    /* Styles for large screens */
    .container {
        border-radius: 10px;
        width: 48%;
    }

    .title {
        font-size: 24px;
    }

    .text {
        font-size: 24px;
    }

    .chevron {
        width: 24px;
        height: 14px;
    }
}
