.container {
    margin: 20px 0;
}

.toto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FF6060;
    border-radius: 5px;
    padding: 10px;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 142.6%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.tutu {
    background: #F6F6F6;
    border-radius: 5px;
    padding: 10px;
}

.text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 142.6%;
    color: #FF6060;
}
