.container {
    height: 209px;
    width: 100%;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border-radius: 0;
    flex-direction: column;
}

.logo {
    margin-bottom: 10px;
}

.copyright {
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.426;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    align-items: flex-end;
    font-style: normal;
}

@media screen and (min-width: 1200px) {
    .copyright {
        font-size: 24px;
    }
}
