.img {
    width: 100%;
    border-radius: 10px;
    max-height: 255px;
    height: 255px;
}

.size {
    height: 20px;
    width: 12px;
}

.container {
    position: relative;
}

.chevron {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    position: absolute;
    left: 10px;
    top: 100px;
    z-index: 1;
}

.right {
    position: absolute;
    z-index: 1;
    top: 100px;
    right: 10px;
}

.pagination {
  display: none;
}

@media screen and (min-width: 1200px) {
    /* Styles for large screens */
    .img {
        height: 415px;
        max-height: 415px;
        border-radius: 25px;
        position: relative;
    }

    .left {
        left: 10px;
        top: 150px;

    }

    .right {
        top: 150px;
        right: 10px;
    }

    .size {
        height: 80px;
        width: 50px;
    }

    .pagination {
        display: block;
        position: absolute;
        top: 90%;
        left: 50%;
        z-index: 1;
        color: #FFFFFF;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 142.6%;
    }
}

