.img {
    width: 100%;
    border-radius: 10px;
    max-height: 255px;
    height: 255px;
}

.container {
    position: relative;
}

.left {
    position: absolute;
    left: 10px;
    top: 100px;
    z-index: 1;
}

.right {
    position: absolute;
    z-index: 1;
    top: 100px;
    right: 10px;
}

@media screen and (min-width: 1200px) {
    /* Styles for large screens */
    .img {
        height: 415px;
        max-height: 415px;
        border-radius: 25px;
        position: relative;
    }

    .left {
        left: 10px;
        top: 150px;
    }

    .right {
        top: 150px;
        right: 10px;
    }
}

