.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    display: flex;
    align-items: end;
}

.nav ul {
    display: flex;
    justify-content: space-around
}

.nav-item {
    color: #FF6060;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    border: 2px solid red;
}

a {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
    text-align: right;
    color: #FF6060;
}

a:active {
    text-decoration: underline;
}


@media screen and (min-width: 1200px) {
    /* Styles for large screens */
    .header {
        padding: 40px 70px;
    }


    a {
        font-size: 24px;
    }
}
