.container {
    background: #FF6060;
    border-radius: 5px;
    height: 18px;
    width: 84px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 142.6%;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
}

@media screen and (min-width: 1200px) {
    /* Styles for large screens */
    .container {
        height: 25px;
        width: 115px;
    }

    .title {
        font-size: 14px;
    }
}
